:root {
  --font-base: "montserrat", sans-serif;
  --font-heading: "monte-stella", sans-serif;

  --rosa-cdmx: #EC407A;
  --blanco: #ffffff;
  --asfalto: #212121;
}

body {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
  background: var(--blanco);
  color: var(--asfalto);
  text-align: center;
}

h1 {
  font-family: var(--font-heading);
  font-size: 4em;
  margin-top: 1em;
}

p {
  font-size: 1.2em;
  margin: 1em auto;
  max-width: 600px;
}

/* Botón explorar con microbús */
.explore-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--asfalto);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.explore-btn:hover {
  background: var(--rosa-cdmx);
}

/* Microbús animado */
.microbus {
  font-size: 1.5em;
  display: inline-block;
  transition: transform 1s ease;
}

.explore-btn:hover .microbus {
  transform: translateX(100px);
}

/* Sección de navegación inferior */
#explorar {
  margin-top: 8em; /* antes era 5em, ahora bajamos más */
}


.nav-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em auto;
}

.nav-buttons a {
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--rosa-cdmx);
  color: var(--blanco);
  transition: all 0.3s ease;
}

.nav-buttons a:hover {
  background: var(--blanco);
  color: var(--rosa-cdmx);
  border: 2px solid var(--rosa-cdmx);
}

/* Fondo dividido */
body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--asfalto);
  text-align: center;
}

/* Hero con imagen de fondo */
.hero {
  background-image: url("../img/foto-micro-fondo.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--blanco);
  padding: 6em 1em;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Línea divisoria */
.divider {
  height: 4px;
  background-color: var(--asfalto);
}

/* Sección inferior con fondo crema */
#explorar {
  background: #fdf5e6; /* color crema */
  padding: 4em 1em;
}

